/* You can add global styles to this file, and also import other style files */

html, body {
	width: 100%;
	height: 100%;
}

.container-fluid {
	height: 100%;
}

.row {
	height: 100%;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}