<div class="tooltips">
	<div class="title"><b>Title : </b> {{ movieDetail.title }}</div>
	<div class="year"><b>Year : </b> {{ movieDetail.release_year }}</div>
	<div class="director"><b>Director : </b> {{ movieDetail.director }}</div>
	<div class="actor_1"><b>Actor1 : </b> {{ movieDetail.actor_1 }}</div>
	<div class="actor_2"><b>Actor2 : </b> {{ movieDetail.actor_2 }}</div>
	<div class="actor_3"><b>Actor3 : </b> {{ movieDetail.actor_3 }}</div>
	<div class="writer"><b>Writer : </b> {{ movieDetail.writer }}</div>
	<div class="production_company"><b>Production Company : </b> {{ movieDetail.production_company }}</div>
	<div class="location"><b>Location : </b> {{ movieDetail.locations }}</div>
</div>
